<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  <div class="bg-white w-full max-w-md sm:max-w-lg md:max-w-xl lg:max-w-2xl p-6 sm:p-10 md:p-12 rounded-2xl shadow-xl text-center">
    <% if @food.present? %>
        <h2 class="text-2xl sm:text-4xl md:text-5xl font-extrabold text-gray-800 mb-8 tracking-wide"><%= @food.name %></h2>
    <br>
    <%= image_tag "foods/#{@food.food_image}.png", width: '500', height: '500', class: "mx-auto mb-6" %>

    <%= simple_format(@food.comment, class: "text-2xl font-extrabold text-gray-800 mb-8 tracking-wide") %>
    <br><br>
    <div style="display: flex; flex-direction: column; gap: 20px;">
      <div class="grid grid-cols-1 sm:grid-cols-2" style="gap: 20px;">
        <button onclick="MapService.searchNearbyRestaurants('<%= @food.name %>')" 
                class="w-full bg-purple-600 hover:bg-purple-700 text-white text-base sm:text-lg font-medium px-6 rounded-full transition duration-300 mb-4 sm:mb-0"
                style="padding-top: 20px; padding-bottom: 20px;">
          近隣店舗を探す
        </button>

        <%= form_with url: results_path, method: :post, class: "w-full" do %>
          <button type="submit" class="w-full bg-green-600 hover:bg-green-700 text-white text-base sm:text-lg font-medium px-6 rounded-full transition duration-300"
                  style="padding-top: 20px; padding-bottom: 20px;">
            ご飯変更
          </button>
        <% end %>
      </div>
      
      <div class="grid grid-cols-1 sm:grid-cols-2" style="gap: 20px;">
        <%= link_to "Xに投稿", 
    "https://x.com/intent/tweet?text=今日は#{@food.name} にしようかな！%0A%23メシタベ%0A&url=https://find-eat-f0bl.onrender.com/#{@result.slug}", 
    class: "w-full block text-center bg-blue-600 hover:bg-blue-700 text-white text-base sm:text-lg font-medium px-6 rounded-full transition duration-300", 
    style: "padding-top: 20px; padding-bottom: 20px;",
    target: "_blank", rel: "noopener" %>
        
        <%= link_to 'トップ', root_path, class: "w-full block text-center bg-orange-600 hover:bg-orange-700 text-white text-base sm:text-lg font-medium px-6 rounded-full transition duration-300",
            style: "padding-top: 20px; padding-bottom: 20px;" %>
      </div>
    </div>
    <% else %>
      <h2>食事情報が見つかりません</h2>
    <% end %>
  </div>
</div>